<launch>
    <node pkg="camera1394" type="camera1394_node" name="videre_cam">
        <!-- <param name="guid" value="00b09d0100a80b41" /> -->
        <param name="video_mode" value="640x480_mono8" />
        <param name="iso_speed" value="400" />
        <param name="frame_rate" value="60" />
    </node>

    <node pkg="image_view" type="image_view" name="image_view" >
      <remap from="image" to="camera/image_raw"/>
    </node>

</launch>